body {
  background-color:  white;
  text-align: center;
}

h1 {
  font-size:100pt;
  text-shadow: 5px 5px #ff0000;
  color:yellow;
  font-style: helvetica;
}

h2  {

  font-size: 35;
  color: blue;


}

h3 {

font-size; 45;
color: blue;
}


h4 {

font-size: 55
color: blue;
}

p {
  font-size: 25px;
  font-style: helvetica;
  color: blue;

}

a {
  color:blue;
}
