body {
font-size: 24;
color: black;
font-style: helvetica;

}

h1 {
color: red;
font-size: 35px;
font-family: helvetica;
align: center;

}



a {color: red;
font-size: 35px;
font-family: helvetica;
align: left;
}

}

}
