

body {



  font-size: 60pt;
  font-family:monospace;
}




.quote{

    font-style: italic;
}

.panel {
  height:100vh;
  width: 50vw;
  overflow: scroll;



}

.left {
background-color: white;
color: black;
text-align: left;
font-size: 30pt;
font-family:monospace;
padding: 20pt;
padding-top: 30pt;


}

.right {
background-color: white;
position:fixed;
right:0;
top:0;
font-family:monospace;
padding: 20pt;
padding-top: 30pt;

}



button{



font-size:40px;
color: black;
font-family: monospace;
color: white;
background-color: blue;

}



h1{
  font-size: 100pt;
}
